

.container{
  height: 100vh;
  width: 100vw;
 
}

.field{
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.navbar{
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
}

.logo{
  width:100%;
  height:100%;
}

.logo>img{
  width: 10rem;
  height: 100%;  
}

.search-bar{
  padding: 1rem;
  width: 20%;
  height: 100%;
  border: none;
  text-decoration: none;
  border-left:2px solid rgb(187, 187, 187);
  outline: none;
  font-size: medium;
}


.dashboard{
  width: 100%;
  height: 91%;
  /* border: 1px solid rgb(173, 219, 188); */
  display: flex;
  justify-content: space-between;
}


.sidebar{
  width: 15%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}





.filter-panel{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(184, 239, 221);
}

.button-filter{
  width: 100%;
  height: 4rem;
}
.button-filter-selected{
  border: 1px solid black ;
}

.button-filter:hover{
  color: rgb(184, 239, 221);
  
}
.button-filter:focus{
  background-color:rgb(218, 241, 233);
}

.panel{
  width: 85%;
  height: 100%;
  /* border: 1px solid blue; */
  overflow-y: scroll;
  padding: 1rem 0 0 2px;

}

.main-info-box{
  width:65%;
  height: 30%;
  margin-left: 2rem;
  background-color:rgb(230, 246, 240);
  border: 3px solid rgb(191, 230, 216);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 0 2rem 0 2rem ;
  align-items: flex-start;

}
.outer-info-box{
  width: 100%;
  height:45%;
  display: flex;
  flex-direction: row ;
  /* border: 1px solid black; */
}

.info-box{
  width: 23%;
  height: 5rem;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 1rem 0;
  
}
.icons{
  width:2rem
}
.label-icons-box{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 4px;
  width: 75%;
  justify-content: center;
  
  /* border: 1px solid black; */
}

.label-icons{
  color: grey;
  width: 100%;
  font-size: large;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  /* border:1px solid black ; */
}
.heading-main-info{
  /* border: 1px solid black; */
  color: rgb(87, 86, 86);
  font-size:1.5rem ;
  margin-top: 2rem;
}






